@model IOrderHistoryRepository

@{
    ViewBag.Title = "Order History";
}

<h1>Car Sales Orders</h1>  

<table class="table">
    <thead>
        <tr>
            <th>
                Receipt ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
             <th>
                Phone Number
            </th>
            <th>
                Order Placed
            </th>
        </tr>
    </thead>
    <tbody>        
        @foreach(var item in Model.orders) {

            string selectedRow = "";
            if (item.OrderId == (int?)ViewData["OrderId"])
            {
                selectedRow = "success";
            }
        
            <tr class="@selectedRow">
               <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPlaced)
                </td>
                
                <td>
                <a asp-action="Index" asp-route-id="@item.OrderId">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.orderDetails != null)
{
    <h2>Products Order with the Receipt</h2>
    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model.orderDetails)
        {
            <tr>
                <td>
                    @item.ProductId
                </td>
                <td>
                    @item.Amount
                </td>
              
                <td>
                    @item.Price
                </td>
            </tr>
        }

    </table>
}
<style>
    .btn-default {
    color: beige;
    background-color: teal;
    border-color: #ccc;
}

    h1,h4,h2{
    color: #008080;
    text-align:center;
    } 
</style>



