@model PaginatedList<StoreInventory>

@{
    ViewBag.Title = "Car Sales";
}

<h2>Car Sales</h2>
<form asp-action="Customer" method="get">
    <div class="form-actions no-color">
     <p>
        <input name="productName" placeholder="productName" value="@ViewBag.ProductName" align="center"/>
        <input type="submit" value="Search Product" class="btn btn-default btn-sm"/>
        <span class="glyphicon glyphicon-search"></span>
    </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Store Name
            </th>
            <th>
                Available
            </th>
            <th>
              <a asp-action="Customer" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>

            </th>
          <th></th>
              <th>
                
                Image
           </th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
        @foreach(var item in Model) {
            <tr>
              <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockLevel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
               
               <td>
   

               </td>
           
                <td>
                <img src="@Url.Content(item.Product.Image)" height="100" width="100" />
                </td>
            
            
                <td>
                    <button type="button" class="btn btn-default btn-sm" onclick='window.location = "@Url.Action("AddToShoppingCart", "ShoppingCart", new { productId = item.Product.ProductID })";'>
                     <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                     </button>
                </td>
             
             </tr>
         
        }
    </tbody>
    
</table>


@{

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@* The paging buttons are displayed by tag helpers *@
<a asp-action="Customer"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Customer"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
   Next
</a>
<style>
    .btn-default {
    color: beige;
    background-color: teal;
    border-color: #ccc;
}
</style>
