@model IEnumerable<StockRequest>

@{
    ViewData["Title"] = "Stock Requests";
   
   
}

<center>
     <h1> Stock Requests </h1> 
</center>
<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
             <th></th>
           
              <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
             <th></th>
            
             <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
             <th></th>
               <th>
                @Html.DisplayNameFor(model => model.StoreID)
            </th>
             <th></th>
             <th></th>
              <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
             <th></th>
             <th></th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
             <th></th>
            
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            
             <th></th>
             <th></th>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
             <th></th>
              <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
             <th></th>
            
            <td>
                
                <img src="@Url.Content(item.Product.Image)" height="100" width="100" />

            </td>
              <th></th>
              <th></th>
             <th></th>
            <td>

             <button type="button" class="btn btn-default btn-sm" onclick='window.location = "@Url.Action("DeleteConfirmed", "Owner", new { id = item.Product.ProductID })";'>
                     <span class="glyphicon glyphicon-trash"></span> Delete
                     </button>

            </td>
        </tr>
}
      
    </tbody>
</table>
 <button type="button"  class="btn btn-default" onclick='window.location = "@Url.Action("Sidebar", "Owner")";'>
                     <span class="glyphicon glyphicon-home"></span> Back to Home
                     </button>
<style>
    .btn-default {
    color: beige;
    background-color: teal;
    border-color: #ccc;
}
   

 


h1{
    color: #008080;
    text-align:center;
    } 
</style>