@model IEnumerable<StoreInventory>

@{
    ViewData["Title"] = "Store Inventory";
   
   
}

 <h2>Store Inventory  - @Html.Raw(ViewBag.myData)    </h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
              <td>
                <img src="@Url.Content(item.Product.Image)" height="100" width="100" />
            </td>
        </tr>
}
    </tbody>
</table>
