@model IEnumerable<StoreInventory>

@{
    ViewData["Title"] = "Store Inventory";
}

<h1>Store Inventory</h1>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockLevel)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
            <td>
                <img src="@Url.Content(item.Product.Image)" height="100" width="100" />
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ProductID  }) 
            </td>
        </tr>
}
    </tbody>
</table>
 <button type="button"  class="btn btn-default" onclick='window.location = "@Url.Action("Sidebar", "Franchise")";'>
                     <span class="glyphicon glyphicon-home"></span> Back to Home
                     </button>

                     <style>
    .btn-default {
    color: beige;
    background-color: teal;
    border-color: #ccc;
}
   

 


h1{
    color: #008080;
    text-align:center;
    } 
</style>